server:
  port: 7002
spring:
  application:
    name: vehicle-ms
  boot:
    admin:
      client:
        url: http://localhost:8231
  datasource:
    url: jdbc:mysql://localhost:3306/freight_transport_region_vehicle
    username: root
    password: 9398434528
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
  mvc:
    format:
      date: dd-MMM-yyyy
  messages:
    basename: ValidationMessages
management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always

